.cbtn{
  margin-top: 15px;
  color:white;
  background-color: black;
  text-align: center;
}
.card-button{
text-align: center;
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 300px;
  height: 150px;
  background-color: #f1f1f1;
}

.s-btn{
  background-color: black;
  color: white;
}
.c-btn{
  background-color: black;
  color: white;
  margin-top: 10px;
}

table,th,td{
  border: 1px solid black;
  text-align: center;
}

.x-btn{
  background-color: black;
  color: white;
}

.y-btn{
  background-color: black;
  color: white;
}

.z-btn{
  background-color: black;
  color: white;
}

.w-btn{
  background-color: black;
  color: white;
}